<h1> Data Science Tools and Ecosystem </h1>

<h2>Author</h2>
Anthony Gras

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
<ul>
  <li>List popular languages for Data Science</li>
  <li>List commonly used libraries for Data Science</li>
  <li>List Data Science Tools</li>
  <li>Show Examples of Evaluating Arithmetic Expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>numpy</li>
  <li>pandas</li>
  <li>scikit-learn</li>
  <li>pytorch</li>
  <li>tensorflow</li>
</ol>

| Data Science Tools |
| -------- |
| Jupyter Notebooks  |
| RStudio |
| Apache Spark    |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335